.animation {
  height: 135px;
  width: 137px;
  background-image: url("./img/ei_1675807758332-removebg-preview.png");
  border-bottom: 2px solid teal;
  border-radius: 0px 40px 40px 0px;

  animation: sprite 1s steps(4) infinite;
}

.character-two {
  height: 180px;
  width: 137px;
  background-image: url("./img/dctg7fr-88b18dca-d227-4556-9f25-30816b128362.png");
  border-bottom: 2px solid teal;
  border-radius: 0px 40px 40px 0px;

  animation: sprite 1s steps(4) infinite;
}

.character-three {
  height: 196px;
  width: 137px;
  background-image: url("./img/trback001.png");
  border-bottom: 2px solid teal;
  border-radius: 0px 40px 40px 0px;

  animation: sprite 1s steps(4) infinite;
}

.character-four {
  height: 196px;
  width: 137px;
  background-image: url("./img/trback000.png");
  border-bottom: 2px solid teal;
  border-radius: 0px 40px 40px 0px;

  animation: sprite 1s steps(4) infinite;
}

@keyframes sprite {
  to {
    background-position: -674px;
  }
}
